# Secrets
.env
**/.env
*.key
*.pem
*.crt

# Local overrides
compose.override.yaml
docker-compose.override.yml

# Backups
*.backup
*.bak
*.tar
*.tar.gz
*.zip

# Logs and temporary files
*.log
tmp/
.cache/

# Editors
.vscode/
.idea/
*.swp
*~

# Restic secrets
config/backup.env
config/restic-password

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!*.tfvars.example
!*.tfvars.json.example
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
